html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkcyan;
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper > * {
  padding: 1rem;
  flex-grow: 1;
  flex-basis: 100%;
}
.header {
  background-color: gold;
}
/*main navigoiti*/
.wrapper .main-nav {
  display: flex;
  padding: 0;
  flex-direction: row;
}

.main-nav ul {
  display: flex;
  flex-basis: 100%;
}

.main-nav ul li {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
}

.main {
  background-color: darkorange;
}

/*some navigointi*/

.facebook {
  background-color: darkblue;
}
.twitter {
  background-color: lightblue;
}
.email {
  background-color: grey;
}
.some-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: aquamarine;
}

.some-nav ul > * {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 1rem;
  font-size: medium;
}

.facebook {
  background-color: darkblue;
}
.twitter {
  background-color: darkred;
}
.envelope {
  background-color: blueviolet;
}

.aside-1 {
  background-color: mediumseagreen;
}
.aside-2 {
  background-color: seagreen;
}

.footer {
  background-color: lightgreen;
}

@media only screen and (min-width: 426px) {
  body {
    background-color: lightblue;
  }
  .wrapper .aside-1,
  .wrapper .aside-2 {
    flex-basis: 0;
  }
}

@media only screen and (min-width: 769px) {
  body {
    background-color: lightcoral;
  }

  .wrapper .aside-1 {
    order: 1;
  }
  .wrapper .main {
    flex-basis: 0;
    order: 2;
  }
  .wrapper .aside-2 {
    order: 3;
  }

  .wrapper .footer {
    order: 4;
  }
}
